* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: "Cera Pro 400";
    src: url(/fonts/cera-pro/CeraPro-Medium.ttf);
}

@font-face {
    font-family: "Cera Pro 500";
    src: url(/fonts/cera-pro/CeraPro-Medium.ttf);
}

@font-face {
    font-family: "Cera Pro 700";
    src: url(/fonts/cera-pro/CeraPro-Bold.ttf);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.whole_section {
    height: calc(100% - 13.5%);
    width: calc(100% - 23.2%);
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.first_block {
    display: flex;
    gap: 28px;
    height: 34.04%;
}

.one_of_both {
    display: flex;
    background-color: #FBFBFB;
    width: 48.8%;
    align-items: center;
}


.first_block_content {
    padding: 14.8% 12% 18.4% 0;
    text-align: end;

}

.first_block_content div h2 {
    font-size: 18px;
    color: #3D3D3D;
    text-transform: uppercase;
    padding-bottom: 9px;
    font-family: "Cera Pro 700";
}

.first_block_content div p {
    color: #727272;
    font-size: 14px;
    padding-bottom: 25px;
    font-family: "Cera Pro 400";
}


.button_find_more {
    display: inline-block;
    width: 140px;
    height: 40px;
    color: white;
    background-color: #46A358;
    ;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    align-content: center;
    font-family: "Cera Pro 500";
}

/*  */
.blog_block {
    text-align: center;
    padding-top: 15.5%;
}

.blog_block h2 {
    color: #3D3D3D;
    font-family: "Cera Pro 700";
    font-size: 30px;
}

.blog_block p {
    color: #727272;
    font-family: "Cera Pro 400";
    font-size: 14px;
}

.cards_block {
    display: flex;
    justify-content: space-evenly;

}

.card {
    width: 22%;
    text-align: left;
}

.card img {
    width: 100%;
}

.card_desc{
    padding-left: 4.14%;
    padding-bottom: 3.31%;
    padding-right: 3.03%;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FBFBFB;
}

.card h3 {
    font-family: "Cera Pro 700";
    font-size: 20px;
    color: #3D3D3D;
}

.card p {
    font-family: "Cera Pro 400";
    font-size: 14px;
    color: #727272;
}

.card .timing {
    color: #46A358;
    font-family: "Cera Pro 500";
    font-size: 14px;
}

.desc {
    font-family: "Cera Pro 500";
    font-size: 14px;
    align-items: end;
}

.readMore_button {
    text-decoration: none;
    color: #3D3D3D;
    font-family: "Cera Pro 500";
    font-size: 14px;
    margin: auto 0;
    
}

.readMore_button::after {
    content: " " url(/img/ReadMore.png);
}