@font-face {
    font-family: "Cera400";
    src: url(/fonts/cera-pro/CeraPro-Regular.woff);
}

@font-face {
    font-family: "Cera700";
    src: url(/fonts/cera-pro/CeraPro-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cera400";
    font-size: 14px;
}

body {
    width: 1440px;
    height: 725px;
}

.wrapper {
    width: 1200px;
    height: 610px;
    margin: 90px auto;
    background-color: #FBFBFB;

}


.cards_section {
    width: 100%;
    height: 42.8%;
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 0 2%;
}

.card {
    height: 80.8%;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    justify-content: flex-end;
    margin-right: 2%;
    
}

.bord{
    padding-right: 1.5%;
    border-right: 1px #46A3581A solid;
}

.card img {
    height: 44%;
}
 .card h3{
    font-size: 1.285rem;
    font-weight: 700;
    font-family: "Cera700";
    color: #3D3D3D;
    padding-bottom: 10px;
 }

 .card p{
    color: #727272;
 }

.subscribe {
    height: 80.8%;
    width: 29.5%;
    justify-content: space-between;
}

.subscribe form {
    width: 100%;
    height: 24%;
    display: flex;
}

.subscribe form input{
    display: flex;
    flex-grow: 1;
    border: none;
    color: #ACACAC;
    background-color: white;
    padding-left: 15px;
}
.subscribe form button{
    background-color: #46A358;
    width: 24%;
    border-radius: 0 6px 6px 0;
    border: none;
    color: white;
    font-size: 1.285rem;
    font-weight: 700;
}

.subscribe h3{
    padding-top: 3%;
    font-size: 1.285rem;
    font-weight: 700;
    font-family: "Cera700";
    color: #3D3D3D;
}



.bg_section {
    height: 14.4%;
    width: 100%;
    padding: 0 2%;
    
    background: linear-gradient(to right, #EDF6EF, #52C368);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center_block{
    display: flex;
}

.center_block>img{
    padding-right: 5px;
}

.center_block>p{
    color: #3D3D3D;
}
 

.copyright {
    padding-top: 10px;
    text-align: center;
}
.down_card{
    height: 100%;
    width: 15%;
}

.down_card p{
    padding-top: 20px;
    color: #3D3D3D;
}

.down_heading{
    font-weight: 700;
    font-size: 18px;
}

.images{
    width: 190px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.last_downcard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 9%;
    padding-bottom: 5%;
}

.bg1{
    background-image: url(/img/1.svg);
}
.bg2{
    background-image: url(/img/2.svg);
    background-position: -6% 0;
    background-size: 50% 50%;
}
.bg3{
    background-image: url(/img/3.svg);
}

.align_last_cards{
    margin-right: 7%;
}